<header class="navigation">
    <nav class="navigation__header">
        <div class="logo">
            <span>GeekVerse</span>
        </div>
        <div class="search">
            <span><i class="fi fi-rr-search"></i></span>
            <input type="search" placeholder="Pesquisar...">
        </div>
        <ul class="navigation__items">
            <li>Home</li>
            <li>Noticiar</li>
        </ul>
    </nav>
    <section class="navigation__categories">
        <div class="categories__items">
            <div *ngFor="let obj of this.listaCategoria; let i=index" [ngStyle]="getStylesCategory(i)" (click)="switchStyleHeader(i);salvarCategoria(i+1)" routerLink="{{this.componentes[i]}}">
                {{obj.nome}}
            </div>
        </div>
    </section>
</header>
