<header class="navigation">
    <nav class="navigation__header">
        <div class="logo">
            <span class="logo__text">
                <span [ngStyle]="getStylesLogo(1)">GEEK</span>
                <span [ngStyle]="getStylesLogo(2)">VERSE</span>
            </span>
        </div>
        <div class="search">
            <span><i class="fi fi-rr-search"></i></span>
            <input type="search" placeholder="Pesquisar...">
        </div>
        <ul class="navigation__items">
            <li>Perfil</li>
        </ul>
    </nav>
    <section class="navigation__categories">
        <div class="categories__items">
            <div *ngFor="let obj of this.listaCategoria; let i=index" [ngStyle]="getStylesCategory(i)" (click)="switchStyleHeader(i);salvarCategoria(i+1);navigateToNew(i)">
                {{obj.nome}}
            </div>
        </div>
    </section>
</header>
