<main>
    <section class="main__header">
        <div class="main__title">
            <span [ngStyle]="{'background-color':this.noticia.categoria.corCabecalho}"></span>
            <h2 [ngStyle]="{'color':this.noticia.categoria.corCabecalho}">Notícias do momento!</h2>
        </div>
        <div class="main__newspaper" (click)="navigateToNew(this.noticia.codigo)">
            <figure class="imagem">
                <img src="{{this.noticia.imagem}}">
            </figure>
            <div class="main__description">
                <span [ngStyle]="{'color':this.noticia.categoria.corCabecalho}">{{this.noticia.categoria.nome}}</span>
                <h1>{{this.noticia.titulo}}</h1>
                <h2>{{this.noticia.subtitulo}}</h2>
                <span>{{this.noticia.data}}</span>
            </div>
        </div>
    </section>
    <section class="main__content">
        <section class="section__newspaper">
            <div class="content__title">
                <span [ngStyle]="{'background-color':this.categoria.corCabecalho}"></span>
                <h2 [ngStyle]="{'color':this.categoria.corCabecalho}">Todas as notícias</h2>
            </div>
            <div class="newspaper__content">
                <div class="newspaper" (click)="navigateToNew(obj.codigo)" *ngFor="let obj of this.listaNoticia">
                    <figure class="newspaper__image">
                        <img src="{{obj.imagem}}">
                    </figure>
                    <div class="newspaper__description">
                        <span [ngStyle]="{'color':obj.categoria.corCabecalho}">{{obj.categoria.nome}}</span>
                        <h3>{{obj.titulo}}</h3>
                        <h4>{{obj.subtitulo}}</h4>
                        <span>{{obj.data}}</span>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
