<main>
    <section class="main__header">
        <div class="main__title">
            <h2>Notícias do momento!</h2>
        </div>
        <div class="main__newspaper" (click)="navigateToNew()">
            <figure class="image">
                <img src="assets/addams-family.png" alt="Família Addams">
            </figure>
            <div class="description">
                <span>Filmes e Séries</span>
                <h1>Família Addams: Conheça Os Integrantes!</h1>
                <h2>Wanndinha e a Mãezinha todo mundo já esta familiarizado, mas você conhece o restante da família Addams?</h2>
                <span>21 de fev. de 2024</span>
            </div>
        </div>
    </section>
    <div class="main__content">
        <section class="recents__content">
            <div class="content__title">
                <h2>Recentes</h2>
            </div>
            <div class="newspaper__content" *ngFor="let obj of this.noticias">
                <div class="newspaper" (click)="navigateToNew()">
                    <figure class="newspaper__image">
                        <img src="{{obj.image}}" alt="Deadpool">
                    </figure>
                    <div class="newspaper__description">
                        <span>{{obj.categoria.nome}}</span>
                        <h3>{{obj.titulo}}</h3>
                        <h4>{{obj.subtitulo}}</h4>
                        <span>{{obj.data}}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
