*{
    margin: 0;
    padding: 0;
}
.news__header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    width: 80vw;
    margin: 0 auto;
}

.news__category{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.news__category span{
    width: 10px;
    height: 50px;
    background-color: black;
}

.news__category h1{
    font-weight: 600;
    font-size: 1.6rem;
}

.news__title{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news__title h1{
    font-family: 'Judson', 'Times New Roman', serif;
    font-weight: 500;
    font-size: 4rem; 
    line-height: 1.2;
}

.news__title h2{
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.8rem; 
}

.news__information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
}

.news__information h3{
    font-weight: 600;
}

.news__information h4{
    font-weight: 500;
}

.news__imagem img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*conteudo da noticia*/

.news__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news__paragraph p{
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: justify;
}

.news__paragraph h4{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.news__paragraph figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news__paragraph figure{
    margin-bottom: 20px;
}

