footer{
    background-color: #042940;
}
.footer__content{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    padding: 50px;
    margin-top: 40px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.692);
}